<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
  <% case provider.to_s %>
    <%when 'facebook'%>
      <div class="col-md-offset-3 col-md-9">
       <%= link_to "Iniciar con #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) , 
        class:"btn btn-primary" %><br />
      </div>   
     
  <%end%>
    
  <% end -%>
<% end -%>
